.detail {
  flex: 1;
   max-width: 300px;
   
  .user {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid var(--border-color);

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          background-color: var(--background-color);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              object-fit: cover;
            }

            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            background-color: var(--background-color);
            padding: 10px;
            border-radius: 50%;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
    button {
      padding: 15px;
      background-color: var(--danger-color);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--danger-color-secondary);
      }

      &.logout {
        padding: 10px;
        background-color: var(--secondary-bg-dark);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-top: -10px;
      }
    }
  }
}
