.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;

      input {
        padding: 20px;
        border: none;
        outline: none;
        background-color: var(--background-color);
        color: white;
        border-radius: 5px;
        width: 400px;
  
      }

      input:-webkit-autofill {
        box-shadow: 0 0 0 1000px var(--background-color) inset;
        -webkit-text-fill-color: white;
        transition: background-color 9999s ease-in-out 0s;
      }



      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.8;
        }
      }

      button {
        width: 100%;
        padding: 15px;
        background-color: var(--secondary-bg-dark);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
          background-color: var(--disabled-color);
          color: gray;
        }
      }     
    }

    p{
      background-color: var(--border-color);
      padding: 10px 20px;
      border-radius: 5px;
      width: 400px;
      text-align: center;
    }

   .link{
      text-decoration: none;
      cursor: pointer;
      padding-left: 8px;
      font-size: 18px;
      font-weight: 500;
  
      &:hover {
        color: #071d5b;
      }
    }
  }

}
