.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 50px;
  min-width: 800px;
  margin: 0 auto;
  background: transparent;
 
}

.pulse {
  background: var(--background-color);
  border-radius: 4px;
  margin-bottom: 16px;
  animation: pulseAnim 1.4s infinite ease-in-out;
}

.title {
  height: 60px;
  width: 100%;
}

.subtitle {
  height: 30px;
  width: 50%;
}

.content-line {
  height: 20px;
  width: 100%;
}

.content-line.short {
  width: 70%;
}

@keyframes pulseAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 1024px) {
  .placeholder {
    min-width: 500px;
  } 
}

@media screen and (max-width: 768px) {
  .placeholder {
    height: 100vh;
  } 
}

@media screen and (max-width: 480px) {
  .placeholder {
    height: 99vh;
    min-width: 400px;
  } 
}
