.userInfo{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .user{
    display: flex;
    align-items: center;
    gap: 10px;
   
  }

  .user > img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }

  .name {
    font-size: 1.5rem;
  }


  .icons {
    display: flex;
    gap: 20px;
    img{
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }
  }


